name: Docker Run

on:
  push:
    branches: [ main, docker-image ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    steps:
      - name: Pull docker image
        run: docker pull mosnamarek/arm32-runtime

      - name: Get compiler version
        run: docker run --platform linux/arm mosnamarek/arm32-runtime g++ --version
